Luna-Thermal-Yoga-Automated-Call-Logic-Lead-Capture.json
{
  "name": "Green Canopy Micro-Grants - Automated Intake & Lead Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "green-canopy-micro-grants-intake",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1180,
        260
      ],
      "id": "1ef5084d-b7d4-4eef-9417-6419dff57965",
      "name": "Webhook - Incoming Application",
      "webhookId": "c9318418-5630-4292-af65-8dd28fe60d96"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const payload = $json.body ?? $json;\nconst rawName = String(payload.name ?? '').trim();\nconst rawEmail = String(payload.email ?? '').trim().toLowerCase();\nconst rawOrganizationType = String(payload.organization_type ?? '').trim();\nconst rawMessage = String(payload.message ?? '').trim();\nconst parsedBudget = Number(payload.project_budget ?? 0);\nconst projectBudget = Number.isFinite(parsedBudget) ? parsedBudget : 0;\nconst normalizedOrg = rawOrganizationType.toLowerCase();\n\nlet organizationType = 'Unknown';\nlet routingBucket = 'Invalid';\n\nif (['corporate', 'company', 'business'].includes(normalizedOrg)) {\n  organizationType = 'Corporate';\n  routingBucket = 'Corporate';\n} else if (['individual', 'individual/school', 'individual / school', 'individual-school'].includes(normalizedOrg)) {\n  organizationType = 'Individual';\n  routingBucket = 'Standard';\n} else if (normalizedOrg === 'school') {\n  organizationType = 'School';\n  routingBucket = 'Standard';\n}\n\nconst nameParts = rawName.split(/\\s+/).filter(Boolean);\nconst firstName = nameParts[0] ?? '';\nconst lastName = nameParts.slice(1).join(' ');\n\nconst validationErrors = [];\n\nif (!rawName) {\n  validationErrors.push('Missing name');\n}\n\nif (!rawEmail) {\n  validationErrors.push('Missing email');\n}\n\nif (routingBucket === 'Invalid') {\n  validationErrors.push('Unsupported organization_type');\n}\n\nreturn [{\n  json: {\n    name: rawName,\n    email: rawEmail,\n    organization_type: organizationType,\n    organization_type_raw: rawOrganizationType,\n    project_budget: projectBudget,\n    message: rawMessage,\n    priority_tag: routingBucket === 'Corporate' ? 'High Priority' : 'Standard',\n    routing_bucket: routingBucket,\n    first_name: firstName,\n    last_name: lastName,\n    validation_error: validationErrors.join('; '),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -940,
        260
      ],
      "id": "8187fa59-ecc1-4b7c-9c4d-33a4d2c397c2",
      "name": "Code - Structure Application Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85b98b47-72ab-4a09-8efb-15cc59e9eaf9",
              "leftValue": "={{ $json[\"validation_error\"] || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -700,
        260
      ],
      "id": "d6e53682-88f9-43ff-b4a7-c0d92d9bd6aa",
      "name": "IF - Validation Failed?"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SLACK_CHANNEL_ID"
        },
        "text": "=⚠️ Invalid grant application payload\\n\\nName: {{ $json[\"name\"] || \"Missing\" }}\\nEmail: {{ $json[\"email\"] || \"Missing\" }}\\nOrganization Type: {{ $json[\"organization_type_raw\"] || \"Missing\" }}\\nReason: {{ $json[\"validation_error\"] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -440,
        120
      ],
      "id": "b97f263d-e3e0-49be-b307-ed4e7bddf628",
      "name": "Slack - Invalid Application Alert"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78a4f778-0dbd-4d0c-b511-2e55a04ec660",
              "name": "name",
              "value": "={{ $json[\"name\"] }}",
              "type": "string"
            },
            {
              "id": "72fe3dd6-ad45-4811-a5c8-91ee5596d7c8",
              "name": "email",
              "value": "={{ $json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "132ed365-c8c0-40c2-b42a-3830c89a5cfd",
              "name": "organization_type",
              "value": "={{ $json[\"organization_type\"] }}",
              "type": "string"
            },
            {
              "id": "7726c1cb-6b55-4d7d-a8d8-bb7906d92807",
              "name": "project_budget",
              "value": "={{ $json[\"project_budget\"] }}",
              "type": "number"
            },
            {
              "id": "0b1552d8-1815-4492-a4e2-1ed5d7be2f03",
              "name": "message",
              "value": "={{ $json[\"message\"] }}",
              "type": "string"
            },
            {
              "id": "bd1ddf60-f2fb-4987-9df8-18f4f67cbaf2",
              "name": "priority_tag",
              "value": "={{ $json[\"priority_tag\"] }}",
              "type": "string"
            },
            {
              "id": "f30d734b-28c7-469c-a78c-e7fb26020ec3",
              "name": "routing_bucket",
              "value": "={{ $json[\"routing_bucket\"] }}",
              "type": "string"
            },
            {
              "id": "e7ba1ec2-ed0e-4ca9-857d-2dc881071074",
              "name": "first_name",
              "value": "={{ $json[\"first_name\"] }}",
              "type": "string"
            },
            {
              "id": "0a546e11-b4a3-4d89-8501-1c737d07f4a9",
              "name": "last_name",
              "value": "={{ $json[\"last_name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        380
      ],
      "id": "9c1ca1b8-4f6b-4292-b113-08025ce86a65",
      "name": "Set - Normalize Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4a41d619-db88-4c74-a436-20224e4dcb18",
                    "leftValue": "={{ $json[\"routing_bucket\"] }}",
                    "rightValue": "Corporate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c7724f89-16af-4401-9c70-a7d6d6b70406",
                    "leftValue": "={{ $json[\"routing_bucket\"] }}",
                    "rightValue": "Standard",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -180,
        380
      ],
      "id": "05d29ef0-4218-4a78-b434-d6d37cb77a23",
      "name": "Switch - Organization Type"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json[\"email\"] }}",
        "additionalFields": {
          "firstName": "={{ $json[\"first_name\"] }}",
          "lastName": "={{ $json[\"last_name\"] }}",
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "priority",
                "value": "={{ $json[\"priority_tag\"] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        80,
        180
      ],
      "id": "d16edb22-cbb6-48a6-9eb3-c575c79dbd2e",
      "name": "HubSpot - Create or Update Corporate Contact"
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "seconds",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        340,
        180
      ],
      "id": "789a9314-760a-4a06-b510-59bc1d02baf4",
      "name": "Wait - Corporate Sync Buffer",
      "webhookId": "fb2bd4f3-fce1-4b10-b19c-a2d0d1e8cbb2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "engagement",
        "operation": "create",
        "type": "task",
        "metadata": {
          "body": "=Priority: HIGH\\nApplicant Type: {{ $('Set - Normalize Fields').item.json[\"organization_type\"] }}\\nBudget: ${{ $('Set - Normalize Fields').item.json[\"project_budget\"] }}\\nMessage: {{ $('Set - Normalize Fields').item.json[\"message\"] }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "Grant Application - Corporate Lead"
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $json[\"id\"] || $json[\"vid\"] || $json[\"canonical-vid\"] || $json[\"contactId\"] }}"
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        600,
        180
      ],
      "id": "fb5e89a9-3990-4bbe-964f-eb7e704868ea",
      "name": "HubSpot - Create Corporate Task"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SLACK_CHANNEL_ID"
        },
        "text": "=🚨 *URGENT: Potential Partner*\\n\\nName: {{ $('Set - Normalize Fields').item.json[\"name\"] }}\\nEmail: {{ $('Set - Normalize Fields').item.json[\"email\"] }}\\nBudget: ${{ $('Set - Normalize Fields').item.json[\"project_budget\"] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        860,
        180
      ],
      "id": "af5fc419-8bb9-4ab2-a93c-dca13ad7ae76",
      "name": "Slack - Notify Corporate Lead"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json[\"email\"] }}",
        "additionalFields": {
          "firstName": "={{ $json[\"first_name\"] }}",
          "lastName": "={{ $json[\"last_name\"] }}",
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "priority",
                "value": "={{ $json[\"priority_tag\"] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        80,
        520
      ],
      "id": "b0a8c670-4a9f-4d3b-9566-68dc9f4e20eb",
      "name": "HubSpot - Create or Update Standard Contact"
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "seconds",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        340,
        520
      ],
      "id": "01a3f640-e3b8-44c9-85ad-346ce238a762",
      "name": "Wait - Standard Sync Buffer",
      "webhookId": "5b3ce951-5e99-481c-9a3c-8d3a7e5556a7"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "engagement",
        "operation": "create",
        "type": "task",
        "metadata": {
          "body": "=Priority: NORMAL\\nApplicant Type: {{ $('Set - Normalize Fields').item.json[\"organization_type\"] }}\\nBudget: ${{ $('Set - Normalize Fields').item.json[\"project_budget\"] }}\\nMessage: {{ $('Set - Normalize Fields').item.json[\"message\"] }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "Grant Application - Community Request"
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $json[\"id\"] || $json[\"vid\"] || $json[\"canonical-vid\"] || $json[\"contactId\"] }}"
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        600,
        520
      ],
      "id": "a191e4df-4517-48bc-a3fb-5eb14fdaff0b",
      "name": "HubSpot - Create Standard Task"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SLACK_CHANNEL_ID"
        },
        "text": "=🌱 New Grant Application\\n\\nName: {{ $('Set - Normalize Fields').item.json[\"name\"] }}\\nType: {{ $('Set - Normalize Fields').item.json[\"organization_type\"] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        860,
        520
      ],
      "id": "35c88b2f-89a5-4b10-ac7f-63e9424dddf0",
      "name": "Slack - Notify Standard Lead"
    }
  ],
  "connections": {
    "Webhook - Incoming Application": {
      "main": [
        [
          {
            "node": "Code - Structure Application Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Structure Application Data": {
      "main": [
        [
          {
            "node": "IF - Validation Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validation Failed?": {
      "main": [
        [
          {
            "node": "Slack - Invalid Application Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Normalize Fields": {
      "main": [
        [
          {
            "node": "Switch - Organization Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Organization Type": {
      "main": [
        [
          {
            "node": "HubSpot - Create or Update Corporate Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HubSpot - Create or Update Standard Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot - Create or Update Corporate Contact": {
      "main": [
        [
          {
            "node": "Wait - Corporate Sync Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Corporate Sync Buffer": {
      "main": [
        [
          {
            "node": "HubSpot - Create Corporate Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot - Create Corporate Task": {
      "main": [
        [
          {
            "node": "Slack - Notify Corporate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot - Create or Update Standard Contact": {
      "main": [
        [
          {
            "node": "Wait - Standard Sync Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Standard Sync Buffer": {
      "main": [
        [
          {
            "node": "HubSpot - Create Standard Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot - Create Standard Task": {
      "main": [
        [
          {
            "node": "Slack - Notify Standard Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb8b61f7-c7f5-4d1e-a7dd-b12862938426",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "greenCanopyIntakeRouting001",
  "tags": []
}
